html, body {
  font-size: 62.5%;
  font-family: "Karantina", sans-serif;
  height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "input output";
  }
  
  .input {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    background-color: rgb(160, 218, 186);
    grid-template-areas:
      "titleInput"
      "controls"
      "buttonGenerate";
    grid-area: input;
    height: 100%;
  }
  
  .titleInput { grid-area: titleInput; }

  #titleInput {
    text-align: center;
    color: white;
    font-size: 15rem;
    font-weight: 100;
  }
  
  .controls { 
    grid-area: controls;
    font-size: 3rem;
    text-align: right;
    width: 50%;
   }

  .block {
    padding-top: 2rem;
  }

  label {
    cursor: pointer;
  }

  input[type="number"] {
    appearance: none;
    border: none;
    padding: 0rem 0.5rem;
    border-radius: 5rem;
    font-size: 3.5rem;
    font-family: "Karantina", sans-serif;
    text-align: center;
  }

  input[type="checkbox"] {
    appearance: none;
    height: 2.5rem;
    width: 2.5rem;
    background-color: white;
    border-radius: 0.3rem;
    cursor: pointer;
  }

  input[type="checkbox"]:after {
    font-family: "Font Awesome 5 free";
    content: "\f00c";
    font-weight: 900;
    font-size: 3rem;
    display: none;
  }

  input[type="checkbox"]:hover {
    background-color: aquamarine;
  }

  input[type="checkbox"]:checked {
    background-color: aquamarine;
  }

  input[type="checkbox"]:checked:after {
    display: block;
  }

  .buttonGenerate { grid-area: buttonGenerate; }

  #generatePasswordButton {
    padding: 1.5rem 6rem;
    border: none;
    border-radius: 3rem;
    font-family: "Karantina", sans-serif;
    font-size: 3rem;
    margin: auto;
    cursor: pointer;
    position: relative;
    left: 25%;
    top: 15rem;
  }

  #generatePasswordButton:hover {
    background-color: aquamarine;
  }
  
  .output {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;;
    grid-template-areas:
      "titleOutput"
      "textOutput"
      "testPassword";
    grid-area: output;
  }
  
  .titleOutput { grid-area: titleOutput; }

  #titleOutput {
    text-align: center;
    color: rgb(160, 218, 186);
    font-size: 15rem;
    font-weight: 100;
  }
  
  .textOutput { grid-area: textOutput; }

  #outputPassword {
    width: 100%;
    border-radius: 0.5rem;
  }

  #clearButton {
    padding: 1.5rem 9rem;
    border: none;
    border-radius: 3rem;
    font-family: "Karantina", sans-serif;
    font-size: 3rem;
    background: rgb(160, 218, 186);
    margin: 3rem auto;
    display: block;
    cursor: pointer;
  }

  #clearButton:hover {
    background-color: aquamarine;
  }

  #inputTestPassword {
    width: 100%;
  }
  
  .testPassword { 
    grid-area: testPassword;
    font-size: 3rem;
    margin-top: 5rem;
   }
  
#testPasswordButton {
    padding: 1.5rem 7rem;
    border: none;
    border-radius: 3rem;
    font-family: "Karantina", sans-serif;
    font-size: 3rem;
    background: rgb(160, 218, 186);
    margin: 3rem auto;
    display: block;
    cursor: pointer;
}

#testPasswordButton:hover {
  background-color: aquamarine;
}
  