html, body {
  font-size: 62.5%;
  font-family: "Karantina", sans-serif;
  height: 100%;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {  display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "input output";
  }
  
  .input {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    background-color: rgb(160, 218, 186);
    grid-template-areas:
      "titleInput"
      "controls"
      "buttonGenerate";
    grid-area: input;
  }
  
  .titleInput { grid-area: titleInput; }

  #titleInput {
    text-align: center;
    color: white;
    font-size: 15rem;
    font-weight: 100;
  }
  
  .controls { 
    grid-area: controls;
    font-size: 3rem;
    text-align: center;
    display: block;
   }

  .buttonGenerate { grid-area: buttonGenerate; }

  #generatePasswordButton {
    padding: 1.5rem 6rem;
    border: none;
    border-radius: 3rem;
    font-family: "Karantina", sans-serif;
    font-size: 3rem;
    margin: auto;
    display: block;

  }
  
  .output {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;;
    grid-template-areas:
      "titleOutput"
      "textOutput"
      "testPassword";
    grid-area: output;
  }
  
  .titleOutput { grid-area: titleOutput; }

  #titleOutput {
    text-align: center;
    color: rgb(160, 218, 186);
    font-size: 15rem;
    font-weight: 100;
  }
  
  .textOutput { grid-area: textOutput; }

  #outputPassword {
    width: 100%;
    border-radius: 3rem;
  }

  #clearButton {
    padding: 1.5rem 9rem;
    border: none;
    border-radius: 3rem;
    font-family: "Karantina", sans-serif;
    font-size: 3rem;
    background: rgb(160, 218, 186);
    margin: 3rem auto;
    display: block;
  }

  #inputTestPassword {
    width: 100%;
  }
  
  .testPassword { 
    grid-area: testPassword;
    font-size: 3rem;
    margin-top: 5rem;
   }
  
#testPassordButton {
    padding: 1.5rem 7rem;
    border: none;
    border-radius: 3rem;
    font-family: "Karantina", sans-serif;
    font-size: 3rem;
    background: rgb(160, 218, 186);
    margin: 3rem auto;
    display: block;
}
  